body {
    font-family: 'Arial', sans-serif;
    background-image: url('../../img/FONDO_COMERCIO_43X26_Mesa_de_trabajo1.jpeg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-color: white;
    color: #333;
    min-height: 100vh; 
    margin: 0; 
}
h1 {
    text-align: center;
    color: white;
    font-size: 2.5rem;
    margin-bottom: 20px;
    font-family: 'Arial', sans-serif;
    text-shadow: 
        0 0 10px rgb(255, 217, 148),  
        0 0 20px rgba(255, 217, 144),  
        0 0 30px rgba(255, 217, 140); 
    }


.form-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
    padding: 20px;
}


.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 250px;
    background: #fff;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
    border: 2px solid #f11010;
}

.form-section p {
    margin: 10px 0;
    color: #333;
    font-weight: bold;
}

input[type="text"],
select {
    width: calc(100% - 20px);
    padding: 12px;
    margin-bottom: 15px;
    border: 2px solid #f10b0b;
    border-radius: 5px;
    font-size: 16px;
    box-sizing: border-box;
    background: #fafafa;
}

input[type="text"]:focus,
select:focus {
    border-color: #eb0b0b;
    outline: none;
    box-shadow: 0 0 8px rgb(243, 5, 5);
}

button {
    padding: 12px 24px;
    font-size: 16px;
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background: linear-gradient(135deg, #07cdf0, #05b6fc);
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.3);
    transition: all 0.3s ease;
}

button:hover {
    background: linear-gradient(135deg, #04c1f0, #04f0f8);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.4);
}

button:active {
    background: #02d2f7;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

h1, .form-section p, .form-container {
    color: #000;
    text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.5);
}
